/* Add your styles here */

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

nav.dark-mode {
    background-color: #333333;
}

nav.dark-mode a {
    color: #ffffff;
}

footer.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
